<header class="header">
    <!-- 
    <a href="https://github.com/Lrpoblet/" target="_blank" rel="noopener noreferrer"><img class="header__img"
            src="./assets/images/logo.png" alt="Logo" title="Logo"></a> -->

    <nav class="nav">
        <ul class="nav__list">

            <li class="nav__list-li"><a class="nav__link" href="index.html#proyectos" title="Proyectos" target="_blank"
                    rel="noopener noreferrer">Proyectos</a>
            </li>
            <li class="nav__list-li"><a class="nav__link" href="index.html#formacion" title="Formación" target="_blank"
                    rel="noopener noreferrer">Formación</a>
            </li>
            <li class="nav__list-li"><a class="nav__link" href="index.html#experiencia" title="Experiencia"
                    target="_blank" rel="noopener noreferrer">Experiencia</a>
            </li>
            <li class="nav__list-li"><a class="nav__link" href="index.html#contecto" title="Contacto" target="_blank"
                    rel="noopener noreferrer">Contacto</a>
            </li>
        </ul>
    </nav>
</header>