<section class="aboutme">
    <img class="aboutme__img" src="./assets/images/lrpoblet.png" alt="Lara Ramos Poblet" title="Lara Ramos Poblet">
    <div class="aboutme__info">
        <h1 class="aboutme__info-title">Lara ramos poblet</h1>
        <h2 class="aboutme__info-subtitle">Acerca de</h2>
        <p>
            Soy una profesional del ámbito social en transformación tecnológica. Mi experiencia en trabajo social me ha
            brindado una visión única y empática sobre la importancia de la tecnología en la sociedad y su impacto en la
            vida de las personas. Además, entre mis talentos puedo destacar mi capacidad de observación, adaptación,
            orientación al detalle,
            curiosidad, proactividad y mi alto grado de compromiso y perseverancia en todo lo que me embarco.
        </p>
        <ul class="social">
            <li class="social__li">
                <a href="https://github.com/Lrpoblet" target="_blank"><i
                        class="social__li-icon fa-brands fa-github-alt"></i>
                    <p class="social__li-text">GitHub</p>
                </a>
            </li>
            <li class="social__li">
                <a href="https://www.linkedin.com/in/lararamospoblet/" target="_blank"><i
                        class="social__li-icon fa-brands fa-linkedin-in "></i>
                    <p class="social__li-text">LinkedIn</p>
                </a>
            </li>
        </ul>
    </div>
</section>