// fonts
$main-font: 'Open Sans', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$size: 18px;

// colors
$sea-green: #1a8847;
$light-green: #6bde8c;
$silver: #b9b6b4;
$platinum: #e4e4e4;
$white: #ecf1f2;
$black: #000;

$color-bg: $platinum;
$color-sec: $sea-green;

:root {
  font: $size $main-font;
  line-height: 1.1;
  background-color: $color-bg;
  color: $black;
  width: 100%;
}
