.header {
  padding: 10px 0;
  color: $white;
  position: fixed;
  text-align: center;
  z-index: 200;

  .nav__list {
    display: flex;
    justify-content: space-evenly;

    &-li {
      width: 25vw;
      align-items: center;
    }
  }

  .nav__link {
    color: $color-sec;
    text-transform: uppercase;
    font-family: $secondary-font;
    padding: 10px;
    width: 25vw;

    &:hover {
      background-color: $silver;
      border-radius: 5px;
    }
  }
}
