.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-title {
      font: 35px $secondary-font;
      text-transform: capitalize;
    }

    &-subtitle {
      @include subtitle;
    }
  }

  &__section {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;

    @media all and (min-width: 2000px) {
      max-width: 75%;
    }

    &-text {
      margin-bottom: 10px;

      .paragraph {
        padding: 5px;
        line-height: 1.2;
      }
    }

    &-skills {
      border: 2px solid $sea-green;
      border-radius: 20px;
      padding: 10px;
      line-height: 1.5;
    }

    @media all and (min-width: 600px) {
      flex-direction: row;

      &-text {
        padding-right: 35px;
      }
    }
  }

  .social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;

    &__li {
      padding: 10px;

      &-a {
        display: flex;
        flex-direction: column;
        width: 15vw;

        &:hover {
          color: $light-green;
        }
      }

      &-icon {
        color: $black;
        padding: 10px 12px;
      }
    }
  }
}
