.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__img {
    margin-top: 20px;
    height: 40vh;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-title {
      font: 35px $secondary-font;
      text-transform: capitalize;
    }

    &-subtitle {
      @include subtitle;
    }

    &-text {
      width: 90%;
      align-self: center;
    }
  }

  .social {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;

    &__li {
      padding: 10px;

      &-icon {
        color: black;
        border: 1px solid black;
        border-radius: 50%;
        padding: 10px 12px;

        &:hover {
          color: $light-green;
          border: 1px solid $light-green;
        }
      }
    }
  }
}
