.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;

  &__subtitle {
    @include subtitle;
  }

  &__text {
    width: 90%;
  }

  &__list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 90%;

    &-a {
      color: black;

      &:hover {
        color: $sea-green;
      }
    }

    @media all and (min-width: 600px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
