.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__subtitle {
    @include subtitle;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .list {
    width: 80vw;
    background-color: $white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 10px;

    @media all and (min-width: 600px) and (max-width: 1026px) {
      width: 40%;
    }

    @media all and (min-width: 1026px) {
      width: 30%;
    }

    &:hover {
      background-color: $silver;
      opacity: 0.9;
    }

    &__article {
      padding: 10px;
    }

    &__title {
      font-family: $secondary-font;
    }

    &__image {
      width: 100%;
      padding: 10px;
    }

    &__text {
      margin-bottom: 10px;
    }
  }
}
