.header {
  background-color: $white;
  position: fixed;
  z-index: 200;
  width: 100%;
  opacity: 0.9;
  font-size: 14px;

  .nav__list {
    display: flex;

    &-li {
      width: 20vw;
      align-items: center;
    }
  }

  .nav__link {
    display: flex;
    justify-content: center;
    color: $color-sec;
    text-transform: uppercase;
    font-family: $secondary-font;
    padding: 10px;
    text-align: center;

    &:hover {
      background-color: $silver;
    }
  }
}
