.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 1.5;

  &__subtitle {
    @include subtitle;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .project {
    width: 80vw;
    background-color: $white;
    box-shadow: $sea-green 0px 3px 8px;
    margin: 10px;

    @media all and (min-width: 600px) and (max-width: 1026px) {
      width: 40%;
    }

    @media all and (min-width: 1026px) {
      width: 30%;
    }

    &:hover {
      background-color: $light-green;
      opacity: 0.9;
    }

    &__title {
      padding: 10px;
      font-family: $secondary-font;
    }

    &__image {
      width: 100%;
    }

    &__text {
      margin: 10px;

      &-desc {
        margin: 10px;
        font-size: 16px;
      }
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;

      &-icon {
        padding: 10px;
        margin: 10px;
        border: 1px $black solid;

        &:hover {
          color: $sea-green;
          background-color: $silver;
        }
      }
    }
  }
}
