//https://www.joomla-monster.com/blog/web-development/css3-powered-hover-effects-for-your-logo

.move {
  &:hover,
  &:focus,
  &:active {
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}

@-webkit-keyframes buzz {
  50% {
    -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes buzz {
  50% {
    -ms-transform: translateX(3px) rotate(2deg);
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -ms-transform: translateX(-3px) rotate(-2deg);
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}

.hand {
  display: inline-block;
  animation: hand-animation 4s linear infinite;
  transform-origin: 70% 70%;
}

@keyframes hand-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-9deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(11deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.text {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
