.skip-link {
  font: 15px 'Oswald', sans-serif;
  background-color: $sea-green;
  color: $white;
  border-radius: 5px;
  padding: 5px;
  top: 33px;
  position: relative;
  margin: 5px;

  &:hover {
    background-color: $light-green;
    color: $black;
  }
}
