@mixin subtitle {
  font: 24px $secondary-font;
  color: $white;
  background-color: $sea-green;
  text-transform: uppercase;
  font-weight: 200;
  margin: 10px 0;
  width: 100%;
  opacity: 0.8;
}
